{% extends 'main/base.html' %}
{% block content %}
<div id="wrapper">
	{% include 'main/parts/sidebar.html' %}
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			{% include 'main/parts/top-navbar.html' %}
			<div class="container">
				<!-- Outer Row -->
				<div class="row justify-content-center">

					<div class="col-xl-8 col-lg-8 col-md-8">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<!-- <div class="col-lg-6 d-none d-lg-block bg-password-image"></div> -->
									<div class="col-lg-12">
										<div class="p-5">
											<div class="alert alert-success" role="alert">
												<h4 class="alert-heading">Almost Done!</h4>
												<p>We have send you a email with further instructions to reset your password.</p>
												<hr>
												<p class="mb-0">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</div>

{% endblock content %}