{% extends 'main/base.html' %}
{% block content %}
<div id="wrapper">
	{% include 'main/parts/sidebar.html' %}
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			{% include 'main/parts/top-navbar.html' %}
			<div class="container">
				<!-- Outer Row -->
				<div class="row justify-content-center">

					<div class="col-xl-8 col-lg-8 col-md-8">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<!-- <div class="col-lg-6 d-none d-lg-block bg-password-image"></div> -->
									<div class="col-lg-12">
										<div class="p-5">
											<div class="alert alert-success" role="alert">
												<h4 class="alert-heading">All Done!</h4>
												<p>Your password has been reset. You can now login with your new password.</p>
												<p><a href="{% url 'login' %}" class="btn btn-primary"><i class="fas fa-key fa-fw"></i> Login Here</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</div>

{% endblock content %}