{% extends 'main/base.html' %}

{% block header_scripts %}
{% endblock header_scripts %}

{% block content %}
<div id="wrapper">
	{% include 'main/parts/sidebar.html' %}
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			{% include 'main/parts/top-navbar.html' %}
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-8 col-md-8">
						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
									<div class="col-lg-12">
										<div class="p-5">
											<div class="text-center">
												<h1 class="h4 text-gray-900 mb-4">Change Password</h1>
											</div>
											<form class="user" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
														{{ form.old_password }}
                                                </div>
												<div class="form-group">
														{{ form.new_password1 }}
                                                </div>
                                                <div class="form-group">
														{{ form.new_password2 }}
												</div>
												<input type="submit" class="btn btn-primary btn-user btn-block"
													value="Save Changes">
											</form>
                                            {% if form.errors %}
                                            <hr>
											<div class="alert alert-danger">Errors:
												{% for field in form %}
												{% if field.errors %}
												<li>{{ field.label }}: {{ field.errors }}</li>
												{% endif %}
												{% endfor %}
											</div>
											{% endif %}

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block footer_scripts %}
    <script>
        $("#id_old_password").attr('class', 'form-control form-control-user')
        $("#id_old_password").attr('placeholder', 'Old Password')
        $("#id_old_password").attr('autocomplete', 'off');

        $("#id_new_password1").attr('class', 'form-control form-control-user')
        $("#id_new_password1").attr('placeholder', 'New Password')

        $("#id_new_password2").attr('class', 'form-control form-control-user')
        $("#id_new_password2").attr('placeholder', 'Confirm New Password')
    </script>
{% endblock footer_scripts %}