{% extends 'main/base.html' %}

{% block header_scripts %}
{% endblock header_scripts %}

{% block content %}
<div id="wrapper">
	{% include 'main/parts/sidebar.html' %}
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			{% include 'main/parts/top-navbar.html' %}
			<div class="container">
				<div class="row row justify-content-center">
					<div class="col-xl-8 col-lg-8">
						<div class="card shadow mb-4">
							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" style="margin:0;">{{ message }}</div>
							{% endfor %}
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">Profile</h6>
							</div>
							<!-- Card Body -->
							<div class="card-body text-center">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer_scripts %}
{% endblock footer_scripts %}